@import "tailwindcss";

@font-face {
  font-family: 'Space Mono'; 
  src: url('./assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
  font-display: swap; 
}

*{
  font-family: 'Space Mono'; 
}