/* import old version  config tailwind theme */
@config "../tailwind.config.js";
/* Importar Tailwind CSS 4 */
@import "tailwindcss";

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary-color: #f1de63;
  --color-secondary-color: #252830;
  --color-important-color: #8cb348;
  --color-read-color: #095957;
  --color-read-white-color: #fff5e1;
}

header {
  font-family: "Space Mono", sans-serif;
  font-size: 0.7rem;
}

html {
  background-color: var(--color-primary-color);
}
